{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

<script type="text/javascript">
jQuery(document).ready(function($) {
    //$('#m').hide()
    $('#m').css({
        "border":"none",
        "background":"none",
        "cursor":"default",
        "-moz-box-shadow":"none",
        "-webkit-box-shadow":"none",
        "box-shadow":"none"
    })
    var signup = function(event) {
        event.preventDefault()
        if ( $('#m').val() == "" ) {
            $('#signupform').submit()
        } else {
            alert("Are you human? If so, don't put anything in that last box...")
        }
    }
    $('#signup').bind('click',signup)
});
</script>

<div class="hero-unit">
    <div class="row">
        <div class="span5">
            <form id="signupform" method="post" action="{{url_for('account.register')}}">
                {{ render_field(form.w) }}
                {{ render_field(form.n) }}
                {{ render_field(form.s, placeholder="********") }}
                {{ render_field(form.c, placeholder="********") }}
                {{ render_field(form.d) }}
                <div class="actions">
                    <input id="signup" type="submit" value="Signup" class="btn btn-primary" />
                    <br /><br /><br /><br /><br /><br /><input id="m" type="text" name="m" />
                </div>
            </form>
        </div>
        <div class="span5">
            <p>It is necessary to register to use this service. This is only so that 
            your collections can be allocated to you. There is no cost. You will only be emailed about service issues.</p>

            <p>After registering and signing in, you can view your user information 
            by clicking your username on the top right menu. This includes your api_key, 
            which you will need if you want to send data via the API.</p>

            <p>Don't get your username wrong! We can't change it! (If you do, just 
            create a new account for yourself.)</p>
        </div>
    </div>
</div>

{% endblock %}

