{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#panel').facetview( {{ search_options | safe }} )
});
</script>

{% if admin %}

    <script type="text/javascript">
    jQuery(document).ready(function() {
        /*jQuery('#user').jtedit({
            "data": {{ record | safe }}, 
            "hide": ["api_key","_created","_last_modified","_id"], 
            "target": "#",
            "delete_redirect": "/"
        })*/
    });
    </script>

    <div class="hero-unit clearfix">
        <div class="span5">
            {% if current_user.id == account.id %}
                <h2>Hi {{ current_user.id }}</h2>
                <p>{{ current_user.description }}</p>
            {% endif %}
            {% if superuser %}
                <p>You are the superuser! You can view and edit anything!
                <br />Be careful...</p>
            {% endif %}
        </div>
        <div id="user" class="span5">
            <p>Change email address:</p>
            <p>Change password:</p>
            <p>Your api_key is {{account['api_key']}}. 
            <a href="http://bibserver.readthedocs.org/en/latest/api.html">Check out the docs</a> to learn more.</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <div class="well">
                <h3>View your collections</h3>
                <p>You have {{ recordcount }} records across {{ collcount }} collections. Choose one to view - admin options are available in each collection.</p>
                {% if account['collections']|length == 0 %}
                <p>You have no collections yet. <a href="/upload">Create one!</a></p>
                {% else %}
                {% for coll in account['collections'] %}
                    <p><a href="/{{account.id}}/{{coll.collection}}">{{coll['label']}}</a> -  
                    {{coll['description']}} ({{coll|length}} records)</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="panel" class="span8">
            <h3>Search all records in all your collections</h3>
        </div>
    </div>

{% else %}

    <div class="hero-unit clearfix">
        <div class="span5">
            <h2>{{ account.id }}</h2>
            <p>{{ account.description }}</p>
        </div>
        <div class="span5">
            <p>View all of this users collections <br>and all the records in their collections</p>
        </div>
    </div>
    
    <div class="row-fluid">
        {% if account['collections']|length != 0 %}
        <div class="span4">
            <div class="well">
                {% for coll in account['collections'] %}
                    <p><a href="/{{account.id}}/{{coll.collection}}">{{coll['label']}}</a> -  
                    {{coll['description']}} ({{coll|length}} records)</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div id="panel" class="{% if account['collections']|length != 0 %}span8{% else %}span12{% endif %}">
        </div>
    </div>

{% endif %}

{% endblock %}

