{% extends "base.html" %}

{% block content %}

<h3>User: {{current_user['id']}}</h3>

<ul>
<li>API key: {{current_user['api_key']}}</li>
</ul>

<h3>Your collections:</h3>
{% if current_user['collections']|length == 0 %}
<p>You have no collections yet. <a href="/upload">Create one!</a></p>
{% else %}
<table>
{% for coll in current_user['collections'] %}
    <tr>
    <td>
    <h4><a href="/{{current_user['id']}}/{{coll.id}}">{{coll['label']}}</a></h4>
    </td>
    <td>
    <p>{{coll['records']}} records.<br /> 
    <a href="/collections/{{coll.id}}?display_settings=edit">Customise the display</a> of this collection</a>.<br />    
    <a href="/collections/{{coll.id}}">Edit the metadata</a> of this collection</a>.<br />
    {% if 'source' in coll and coll['source'] %}
    <a href="/upload?source={{coll["source"]}}&collection={{coll.id}}">Refresh </a> this collection (overwrites any local changes).</li>
    {% endif %}
    </td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}

