{% extends "/base.html" %}

{% block content %}
<h1>Uploads</h1>
<p>{{ticket}}</p>
<p>The URL: <a href="{{ticket.source_url}}">{{ticket.source_url}}</a> 
{% if ticket.data_md5 %}produced the <a href="/ingest/{{ticket.data_md5}}">data</a>{% endif %} 
    </p>
<pre>{{ticket.data}}</pre>
{% if ticket.error %}
    <div>
        <h2>Has an error condition</h2>
        <p>{{ticket.error}}</p>
    </div>
{% endif %}

<div>
    <h3><a href="#" id="ingest_tickets_toggle">All Tickets</a></h3>
    <div id="ingest_tickets"><ul>
    {% for t in ingest_tickets %}
    {% if t.id != ticket.id %}
    <li><a href="/ticket/{{t.id}}">{{t}}</a></li>
    {% endif %}
    {% endfor %}</ul></div>
</div>

{% endblock %}