#navigation {
    padding-left:0;
    padding-top: 20px;
    clear: left;
    float:left;
    width: 25%;
}

#panel {
    width: 73%;
    float: right;
}

.search_constraints {
    float:left;
    clear: both;
    width:100%;
}

.search_constraint {
    float: left;
    border: 1px solid #33ff33;
    background: #ddffdd;
    padding: 3px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 10px;
}

.sort_options {
    clear: both;
}

.results_per_page {
    float:left;
}

#view_options{
    clear:both;
}

.spacer{
    clear:both;
    width:100%;
    height:10px;
}

.paging {
    float:left;
}
.paging_submit_left{
    margin:0 20px 0 0;
}
.paging_submit_right{
    margin:0 20px 0 0;
}
.results_total{
    padding:0 50px 0 0;
}

.current_sort_option {
    float: left;
    border: 1px solid #ffff33;
    background: #ffffdd;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.current_sort_option a {
    text-decoration: none;
}

.potential_sort_option {
    float: left;
    border: 1px dotted #999999;
    background: #eeeeee;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.potential_sort_option a {
    text-decoration: none
}

.sort_label {
    float: left;
    padding: 3px;
    margin-top: 10px;
}

.rpp_label {
    float: left;
    padding: 3px 6px 3px 3px;
    margin-top: 10px;
}

.potential_rpp {
    float: left;
    margin-top: 10px;
    padding: 3px;
    padding-bottom: 5px;
    border: 1px solid #000000;
    margin-right: 3px;
}

.potential_rpp:hover {
    background: #eeeeff;
}

.potential_rpp a {
    text-decoration: none;
    color: #000000;
}

.current_rpp {
    float: left;
    font-weight: bold;
    border: 1px solid #000000;
    border-bottom: 3px solid #000000;
    margin-top: 10px;
    padding: 3px;
    margin-right: 3px;
    background: #ddddff;
}

.paging_label {
    float: left;
    padding: 3px 6px 3px 3px;
    margin-top: 10px;
}

.potential_page {
    float: left;
    margin-top: 10px;
    padding: 3px;
    padding-bottom: 5px;
    border: 1px solid #000000;
    margin-right: 3px;
}

.potential_page:hover {
    background: #eeeeff;
}

.potential_page a {
    text-decoration: none;
    color: #000000;
}

.current_page {
    float: left;
    font-weight: bold;
    border: 1px solid #000000;
    border-bottom: 3px solid #000000;
    margin-top: 10px;
    padding: 3px;
    margin-right: 3px;
    background: #ddddff;
}

.result_view {
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.delete_url {
    text-decoration: none;
    color: #ff0000;
    font-weight: bold;
}

.no_results {
    padding-top: 50px;
}

.facet_heading {
    text-decoration: none;
    font-weight: bold;
}

.facet_heading a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.facet_value {
    padding-left: 0;
    list-style-type:none;
}

.facet_sorting{
    padding:0 3px 1px 3px;
    margin:5px 0 5px 22px;
}
.facet_alpha{
    border:1px solid #ccc;
    padding:2px;
}
.facet_alpha a{
    margin:0px 2px 0px 0px;
}

.facet_selected {
    padding-left: 20px;
}

.facet {
    padding-bottom: 15px;
}

.data_table {
    border-bottom: 1px solid #000000;
}

.data_table th {
    font-weight: bold;
    background: #999999;
    color: #ffffff;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    padding-left: 3px;
    padding-right: 3px;
}

.data_table .odd td {
    background: #ffffff;
    border-right: 1px solid #000000;
    padding-left: 3px;
    padding-right: 3px;
}

.data_table .even td {
    background: #f3f3f3;
    border-right: 1px solid #000000;
    padding-left: 3px;
    padding-right: 3px;
}

.implicit_title {
    width: 100%;
    clear: both;
    text-align: center;
}

.implicit_title h1 {
    font-weight: bold;
    text-align: center;
    font-size: 140%;
}

.list_view {
    margin:10px 0 0 0;
}

.list_result{
    padding-left:3px;
    padding-bottom:15px;
}

.list_result_odd {
    background:#f5f5f5;
}

.list_result_even {
    background:#eeeeee;
}

.list_result_output {
    float:left;
    padding-right:3px;
    width:75%;
}

.list_result_options {
    float:left;
    clear:right;
    width:22%;
    text-align:right;
}

.resultstrap{
    clear:both;
    width:100%;
    margin:0;
    padding:0;
}

a.author_name{
    color:#555555;
    border-bottom:1px dotted #373737;
}
a.author_name:hover{
    border-bottom:none;
}

a.delete_link{
    color:red;
}

.view_options{
    border:1px solid #ccc;
    padding:5px;
    margin:5px 0 0 0;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.view_options{
    line-height:1.2em;
    display:none;
}

#search_options{
    background:#eee;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin:10px 0 0 0;
    padding:3px 0 3px 5px;
    display:none;
}

#facet_choices{
    background:#eee;
    width:680px;
    overflow:hidden;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border:2px solid #373737;
    padding:0;
    margin:0 0 20px 0;
}
#facet_choices h2{
    width:100%;
    height:38px;
    padding:0 0 0 5px;
    border-bottom:2px solid #373737;
}
#facet_choices ul{
    list-style-type: none;
    float:left;
    margin:0;
    padding:0 0 0 5px;
    width:100%;
    min-height:50px;
    max-height:360px;
}
#facet_choices ul li{
    float:left;
    width:200px;
    margin:0 20px 5px 0;
    border-bottom:1px dotted #fff;
}

.facet_sizer{
    font-size:11px;
    width:40px;
    height:10px;
    margin:1px;
}
