
<div id="display">
    <p>select keys to add to search results display</p>

    <form id="showkeys_form" method="get" action="">
        <input type="hidden" name="from" value="{{io.start()}}" />
        <input type="hidden" name="size" value="{{io.page_size()}}" />
        <input type="hidden" name="sort" value="{{io.sorted_by()}}" />
        <input type="hidden" name="order" value="{{io.sort_order()}}" />
        
        {% for item in io.get_safe_terms_object() %}
              <input type="hidden" name="{{item}}" value='{{io.get_safe_terms_object()[item]}}' />
        {% endfor %}
        <input type="hidden" name="q" value="{{io.get_q()}}" />
        
        {% for item in io.get_keys() %}
            {% if item in io.get_showkeys(format="list") %}
                <a class="showkeys label notice" href="">{{item}}</a>
            {% else %}
                <a class="showkeys label" href="">{{item}}</a>
            {% endif %}
        {% endfor %}

        <input type="hidden" class="small" id="showkeys" name="showkeys" value="{{io.get_showkeys()}}" />
    </form>
    <br />

</div>
