
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#display').children().hide();
    jQuery('#display').children().first().show();
    var disptrigger = function(event) {
        event.preventDefault();
        if (jQuery(this).hasClass('showing')) {
            jQuery('#display').children().hide();
            jQuery('#display').children().first().show();
            jQuery(this).removeClass('showing');
        } else {
            jQuery('#display').children().show();
            jQuery(this).addClass('showing');
        }
    }
    jQuery('.disptrigger').bind('click',disptrigger);
    
    // trigger showkeys
    var submit_showkey = function(event) {
        event.preventDefault();
        if (jQuery(this).hasClass('notice')) {
            if (jQuery('#showkeys').val() != "") {
                jQuery('#showkeys').val(jQuery('#showkeys').val().replace(','+jQuery(this).html(),'').replace(jQuery(this).html()+',','').replace(jQuery(this).html(),''));
            }
        } else {
            if (jQuery('#showkeys').val() != "") {
                jQuery('#showkeys').val(jQuery('#showkeys').val() + ',' + jQuery(this).html());
            } else {
                jQuery('#showkeys').val(jQuery(this).html());
            }
        }
        jQuery('#showkeys_form').trigger('submit');
    }
    jQuery('.showkeys').bind('click',submit_showkey);

    // trigger showfacets
    var submit_showfacet = function(event) {
        event.preventDefault();
        var facets = jQuery('#showfacets').val();
        var facet = jQuery(this).html();
        if (jQuery(this).hasClass('notice')) {
            if (facets != "") {
                if (facets == facet) {
                    jQuery('#showfacets').val("");
                } else {
                    //if ( facets.indexOf(','+facet, facets.length - facet.length) !== -1 ) {
                    //    jQuery('#showfacets').val(facets.replace(facet+',',''));
                    //}
                    if ( facets.indexOf(','+facet, facets.length - facet.length - 1) !== -1 ) {
                        jQuery('#showfacets').val(facets.replace(','+facet,''));
                    } else {
                        jQuery('#showfacets').val(facets.replace(','+facet+',',','));
                    }
                }
            }
        } else {
            if (facets != "") {
                jQuery('#showfacets').val(facets+','+facet);
            } else {
                jQuery('#showfacets').val(facet);
            }
        }
        jQuery('#showfacets_form').trigger('submit');
    }
    jQuery('.showfacets').bind('click',submit_showfacet);

});
</script>

<div id="display">

    <p><strong><a class="disptrigger btn" href="">display options</a></strong></p>

    <div class="display_section">
    <p><strong>add items to results display</strong></p>

    <form id="showkeys_form" method="get" action="">
        <input type="hidden" name="from" value="{{io.start()}}" />
        <input type="hidden" name="size" value="{{io.page_size()}}" />
        {% if io.sorted_by() != "" %}
            <input type="hidden" name="sort" value="{{io.sorted_by()}}{{io.config.facet_field}}" />
            <input type="hidden" name="order" value="{{io.sort_order()}}" />
        {% endif %}        
        {% for item in io.get_safe_terms_object() %}
              <input type="hidden" name="{{item}}" value='{{io.get_safe_terms_object()[item]}}' />
        {% endfor %}
        <input type="hidden" name="q" value="{{io.get_q()}}" />
        
        {% for item in io.get_keys() %}
            {% if item['key'] in io.get_showkeys() %}
                <a class="showkeys label notice" href="">{{item['key']}}</a>
            {% else %}
                <a class="showkeys label" href="">{{item['key']}}</a>
            {% endif %}
        {% endfor %}

        <input type="hidden" name="showfacets" value="{{io.get_showfacets()}}" />
        <input type="hidden" id="showkeys" name="showkeys" value="{{io.get_showkeys()}}" />
    </form>
    </div>
    
    <div class="display_section">
    <p><strong>add facet filters</strong></h3>
    <form id="showfacets_form" method="get" action="">
        <input type="hidden" name="from" value="{{io.start()}}" />
        <input type="hidden" name="size" value="{{io.page_size()}}" />
        {% if io.sorted_by() != "" %}
            <input type="hidden" name="sort" value="{{io.sorted_by()}}{{io.config.facet_field}}" />
            <input type="hidden" name="order" value="{{io.sort_order()}}" />
        {% endif %}        
        {% for item in io.get_safe_terms_object() %}
              <input type="hidden" name="{{item}}" value='{{io.get_safe_terms_object()[item]}}' />
        {% endfor %}
        <input type="hidden" name="q" value="{{io.get_q()}}" />
        <input type="hidden" name="showkeys" value="{{io.get_showkeys()}}" />
        
        {% for item in io.get_keys() %}
            {% if item['key'] in io.get_showfacets() %}
                <a class="showfacets label notice" href="">{{item['key']}}</a>
            {% else %}
                <a class="showfacets label" href="">{{item['key']}}</a>
            {% endif %}
        {% endfor %}

        <input type="hidden" id="showfacets" name="showfacets" value="{{io.get_showfacets()}}" />
    </form>
    </div>

{% if edit and True %}
    <a class="btn info" id="save_display" href="{{io.get_path_params()}}&savedisplay=true">save current display settings as the default view for this collection</a>
{% endif %}

</div>
