<script type="text/javascript">
jQuery(document).ready(function() {
    // do the facet list toggling
    jQuery('.facet_value').hide();
    var showfacets = function(event) {
        event.preventDefault();
        if ( $(this).hasClass('opened') ) {
            $(this).removeClass('opened');
            $(this).parent().siblings('.facet_value').hide('slow');
            $(this).siblings().next('.facet_alpha').hide('slow');
            $(this).children('.facet_pm').html('+&nbsp;');
        } else {
            $(this).addClass('opened');
            $(this).parent().siblings('.facet_value').show('slow');
            $(this).siblings().next('.facet_alpha').show('slow');
            $(this).children('.facet_pm').html('-&nbsp;');
        }
    }
    jQuery(".facet_heading").bind('click',showfacets);

    // add in-page sorting to the facet selections
    jQuery('ul.facet_value').each(function() {
        var sorts = '<div class="facet_alpha">';
        var sorted = jQuery(this).children();
        sorted.tsort();
        var letters = [];
        var count = 0;
        sorted.children('a').each(function() {
            var letter = jQuery(this).html()[0];
            if (letters.indexOf(letter) == -1) {
                letters.push(letter);
                sorts += '<a class="facet_restrict label" href="' + letter + '">' + letter + '</a>';
                count += 1;
                if (count == 14) {
                    sorts += '<br>';
                    count = 0;
                }
            }
        });
        sorts += '<br>sort: <a id="asc" class="facet_sort label" href="">A &raquo;</a> <a id="desc" class="facet_sort label" href="">Z &raquo;</a> ';
        sorts += '<a id="term" class=" facet_type label" href="">by term</a> <a id="count" class="facet_type label" href="">by count</a>';
        //sorts += '<br>Show <input id="_size" class="span1 facet_sizer" type="text" value="" /> of ';
        sorts += '</div>';
        jQuery(this).before(sorts);
    });
    jQuery('.facet_alpha').hide();

    // redesign facet headers if they have no further options
    jQuery('.facet').each(function() {
        if ( jQuery(this).children().last().children().size() < 2 ) {
            jQuery(this).children('.facet_heading').children('a').children('.facet_pm').remove();
            var title = jQuery(this).children('.facet_heading').html();
            var standard = '<strong>' + title + '</strong>';
            jQuery(this).children('.facet_heading').html(standard);
            jQuery(this).children('.facet_alpha').remove();
        }
        if ( jQuery(this).children().last().children().size() < 20 ) {
            jQuery(this).children('.facet_alpha').children('.facet_restrict').remove();
            jQuery(this).children('.facet_alpha').children('br').remove();
        }
    });

    var facet_restrict = function(event) {
        event.preventDefault();
        if (jQuery(this).hasClass('notice')) {
            jQuery(this).parent().next('ul.facet_value').children().show();
            jQuery('.facet_restrict').removeClass('notice');
            return false;
        }
        var start = jQuery(this).html();
        jQuery('.facet_restrict').removeClass('notice');
        jQuery(this).parent().next('ul.facet_value').children().show();
        jQuery(this).parent().next('ul.facet_value').children().each(function() {
            if ( jQuery(this).children('a').html().substring(0,1).toUpperCase() != start) {
                jQuery(this).hide();
            }
        });
        jQuery(this).addClass('notice');
    }
    var dosort = function(event) {
        event.preventDefault();
        if ( jQuery(this).hasClass('notice') ) {
            return false;
        }
        var theorder = jQuery(this).attr('id');
        if (jQuery('#count').hasClass('notice')) {
            jQuery(this).parent().next('ul.facet_value').children().tsort("span.count",{order:theorder});
        } else {
            jQuery(this).parent().next('ul.facet_value').children().tsort({order:theorder});
        }
        jQuery('.facet_sort').removeClass('notice');
        jQuery(this).addClass('notice');
    }
    var dotype = function(event) {
        event.preventDefault();
        if ( jQuery(this).hasClass('notice') ) {
            return false;
        }
        var theorder = 'asc';
        if (jQuery('#desc').hasClass('notice')) {
            theorder = 'desc';
        }
        if (jQuery(this).attr('id') == 'count') {
            jQuery(this).parent().next('ul.facet_value').children().tsort("span.count",{order:theorder});
        } else {
            jQuery(this).parent().next('ul.facet_value').children().tsort({order:theorder});
        }
        jQuery('.facet_type').removeClass('notice');
        jQuery(this).addClass('notice');
    }
    jQuery('.facet_sort').bind('click',dosort);
    jQuery('.facet_type').bind('click',dotype);
    jQuery('.facet_restrict').bind('click',facet_restrict);

});
</script>

{% for facet in io.facet_fields %}
  {% if facet['key'] != io.implicit_key %}
        <div class="facet">

            <div class="facet_heading">
                <a href="" class="facet_heading" id="fh_{{facet['key']}}">
                <span class="facet_pm">+&nbsp;</span>{{facet['key']}}</a>
            </div>
            <div id="selected_{{facet['key']}}" class="facet_selected">
                        
            {% for item in io.facet_values[facet['key']] %}
              {% if io.in_args(facet['key'], item["term"]) %}
                    <em>
                    {{item["term"]}} ({{item["count"]}})
                    </em>
                    &nbsp;<a class="delete_url" href="{{io.get_delete_url(facet['key'], item['term'])}}">x</a>
                    <br/>
                {% endif %}
            {% endfor %}
                
            </div>
                        
            <ul id="fr_{{facet['key']}}" class="facet_value">

            {% for item in io.facet_values[facet['key']] %}
              {% if not io.in_args(facet['key'], item["term"]) %}
                    <li><a href="{{io.get_add_url(facet['key'], item['term'])}}">{{item['term']}}</a> (<span class="count">{{item['count']}}</span>)
                    </li>
                {% endif %}
            {% endfor %}

            </li>
                
        </div>
    {% endif %}
{% endfor %}
