
<div id="visualisations">
    <div id="visopts">
        Display 
        <select id="vis_facet">
            <option>...</option>
            {% for item in io.get_keys() %}
                {% if not item['nofacet'] %}
                    <option>{{item['key']}}</option>
                {% endif %}
            {% endfor %}
        </select>
         as 
        <select id="vis_type">
            <option>bubble chart</option>
            <option>bar chart</option>
        </select>
        <a id="run_vis" class="btn" href="">view</a>
    </div>
    <div id="viswrap">
    </div>
</div>

    <script type="text/javascript">

        jQuery('#show_search_options').after(' <a id="show_vis" class="btn info" href="">visualise</a>');
        var show_vis = function(event) {
            event.preventDefault();
            if (jQuery('#visualisations').hasClass('inview')) {
                jQuery('#visualisations').hide()
                jQuery('#visualisations').removeClass('inview')
            } else {
                jQuery('#visualisations').show('fast')
                jQuery('#visualisations').addClass('inview')
            }
        }
        jQuery('#show_vis').bind('click',show_vis)

        var run_vis = function(event) {
            event.preventDefault();
            $('#viswrap').html("")
            load_data();
        }
        jQuery('#run_vis').bind('click',run_vis)

        var load_data = function() {
            var addr = window.location.href
            if (addr.indexOf('?') == -1) {
                addr += '?'
            }
            addr += '&format=json&facets=true'
            $.ajax({
                url: addr
                , type: 'GET'
                , dataType : 'json'
                , processData: false
                , success: function(json, statusText, xhr) {
                    if ($('#vis_type').val() == "bar chart") {
                        barchart(json)
                    } else {
                        bubble(json)
                    }
                }
                , error: function(xhr, message, error) {
                    console.error("Error while loading data from ElasticSearch", message);
                    throw(error);
                }
            });
        };

        var bubble = function(json) { 
            data = {"children":[]};
            noff = 0;
            for (key in json.facets) {
                if (json.facets.hasOwnProperty(key)) noff++;
            }
            var count = 0;
            for (var item in json.facets) {
                for (var fct in json.facets[item]['terms']) {
                    var arr = {
                        "className": json.facets[item]['terms'][fct].term,
                        "packageName": count++,
                        "value": json.facets[item]['terms'][fct].count
                    }
                    if ($('#vis_facet').val() != '...') {
                        if ($('#vis_facet').val()+'{{io.config["facet_field"]}}' == item) {
                            data["children"].push(arr);
                        }
                    } else {
                        if ( noff != 1 ) arr['packageName'] = item;
                        data["children"].push(arr);
                    }
                }
            }
            var r = 900,
                format = d3.format(",d"),
                fill = d3.scale.category20c();
            var bubble = d3.layout.pack()
                .sort(null)
                .size([r, r]);
            var vis = d3.select("#viswrap").append("svg:svg")
                .attr("width", r)
                .attr("height", r)
                .attr("class", "bubble")
            var node = vis.selectAll("g.node")
                .data(bubble(data)
                .filter(function(d) { return !d.children; }))
                .enter().append("svg:g")
                .attr("class", "node")
                .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
            node.append("svg:title")
                .text(function(d) { return d.data.className + ": " + format(d.value); })
            node.append("svg:circle")
                .attr("r", function(d) { return d.r; })
                .style("fill", function(d) { return fill(d.data.packageName); })
            node.append("svg:text")
                .attr("text-anchor", "middle")
                .attr("dy", ".3em")
                .text(function(d) { return d.data.className.substr(0,10) + ".. (" + d.data.value + ")"; })
            node.on('click',function(d) {
                var target = window.location.href
                if (target.indexOf('?') == -1) {
                    target += '?'
                }
                if ($('#vis_facet').val() != '...') {
                    target += '&' + $('#vis_facet').val() + '=["' + d.data.className + '"]'
                } else {
                    target += '&q=' + d.data.className
                }
                window.location = target
            })
        };

        var barchart = function(json) {
            var data = []
            var titles = []
            for (var item in json.facets) {
                for (var fct in json.facets[item]['terms']) {
                    if ($('#vis_facet').val()+'{{io.config["facet_field"]}}' == item) {
                        data.push(json.facets[item]['terms'][fct].count);
                        titles.push(json.facets[item]['terms'][fct].term);
                    }
                }
            };
            var w = 900,
                h = 700,
                x = d3.scale.linear().domain([0, Math.max.apply(Math, data) ]).range([0, w]),
                y = d3.scale.ordinal().domain(d3.range(data.length)).rangeBands([0, h], .2);
            var vis = d3.select("#viswrap")
              .append("svg:svg")
                .attr("width", w)
                .attr("height", h + 20)
              .append("svg:g")
                .attr("transform", "translate(150,0)");
            var bars = vis.selectAll("g.bar")
                .data(data)
              .enter().append("svg:g")
                .attr("class", "bar")
                .attr("transform", function(d, i) { return "translate(0," + y(i) + ")"; });
            bars.append("svg:rect")
                .attr("fill", "steelblue")
                .attr("width", x)
                .attr("height", y.rangeBand());
            bars.append("svg:text")
                .attr("x", x)
                .attr("y", y.rangeBand() / 2)
                .attr("dx", -6)
                .attr("dy", ".35em")
                .attr("fill", "white")
                .attr("text-anchor", "end")
                .text(x.tickFormat(100));
            bars.append("svg:text")
                .attr("x", 0)
                .attr("y", y.rangeBand() / 2)
                .attr("dx", -6)
                .attr("dy", ".35em")
                .attr("text-anchor", "end")
                .text(function(d, i) { return titles[i] });
            bars.on('click',function(d, i) {
                var target = window.location.href
                if (target.indexOf('?') == -1) {
                    target += '?'
                }
                if ($('#vis_facet').val() != '...') {
                    target += '&' + $('#vis_facet').val() + '=["' + titles[i] + '"]'
                } else {
                    target += '&q=' + titles[i]
                }
                window.location = target
            })
            var rules = vis.selectAll("g.rule")
                .data(x.ticks(10))
              .enter().append("svg:g")
                .attr("class", "rule")
                .attr("transform", function(d) { return "translate(" + x(d) + ",0)"; });
            rules.append("svg:line")
                .attr("y1", h)
                .attr("y2", h + 6)
                .attr("stroke", "black");
            rules.append("svg:line")
                .attr("y1", 0)
                .attr("y2", h)
                .attr("stroke", "white")
                .attr("stroke-opacity", .3);
            rules.append("svg:text")
                .attr("y", h + 9)
                .attr("dy", ".71em")
                .attr("text-anchor", "middle")
                .text(x.tickFormat(10));
            vis.append("svg:line")
                .attr("y1", 0)
                .attr("y2", h)
                .attr("stroke", "black");
        };

    </script>

