
<div class="paging">

    {% if io.start()|int  >= io.page_size()|int %}
    <form method="get" action="">
          {% for item in io.get_safe_terms_object() %}
          <input type="hidden" name="{{item}}" value='{{io.get_safe_terms_object()[item]}}' />
          {% endfor %}
          <input type="hidden" name="q" value="{{io.get_q()}}" />
    <input type="hidden" name="from" value="{{io.start() - io.page_size()}}" />
    <input type="hidden" name="size" value="{{io.page_size()}}" />
    {% if io.sorted_by() != "" %}
        <input type="hidden" name="sort" value="{{io.sorted_by()}}{{io.config.facet_field}}" />
        <input type="hidden" name="order" value="{{io.sort_order()}}" />
    {% endif %}
    <input type="hidden" name="showkeys" value="{{io.get_showkeys()}}" />
    <input type="submit" class="paging_submit_left" name="submit" value="previous" />
    </form>
    {% endif %}

    <form method="get" action="">
          {% for item in io.get_safe_terms_object() %}
          <input type="hidden" name="{{item}}" value='{{io.get_safe_terms_object()[item]}}' />
          {% endfor %}
          <input type="hidden" name="q" value="{{io.get_q()}}" />
        <input type="hidden" name="showkeys" value="{{io.get_showkeys()}}" />
    <select class="small" name="from" id="page_select">

{% for i in range(0, io.paging_range() ) %}
    {% if (i * io.page_size()) == io.start()|int %}
    <option value="{{i * io.page_size()}}" selected>
    {% else %}
    <option value="{{i * io.page_size()}}">
    {% endif %}
    {{i * io.page_size() + 1}} - 
    {% if i * io.page_size() + 1 + io.page_size() < io.numFound() %}
        {{i * io.page_size() + io.page_size()}}
    {% else %}
        {{io.numFound()}}
    {% endif %}
    </option>
{% endfor %}
    
    </select>

    <span class="io_total">of {{io.numFound()}} results. </span><span>Show </span>

    <select class="small" name="size" id="rpp_select">
    {% for rpp in io.get_rpp_options() %}
    {%   if rpp == io.page_size()|int %}
        <option selected>{{rpp}}</option>
    {%   else %}
        <option value="{{rpp}}">{{rpp}}</option>
    {%   endif %}
    {% endfor %}
    </select>

     Sort
    <select class="small" name="sort" id="sort_select">
        <option>...</option>
    {% for sort in io.get_sort_fields() %}
    {%   if sort == io.sorted_by() %}
        <option value="{{sort}}{{io.config.facet_field}}" selected>{{sort}}</option>
    {%   else %}
        <option value="{{sort}}{{io.config.facet_field}}">{{sort}}</option>
    {%   endif %}
    {% endfor %}
    </select>

     desc: 

    {% if io.sort_order() == "desc" %}
    <input id="order_select" type="checkbox" name="order" value="desc" checked />
    {% else %}
    <input id="order_select" type="checkbox" name="order" value="desc" />
    {% endif %}
    
    <input type="submit" name="submit" value="update" id="paging_trigger" />
    </form>

    {% if ( io.start()|int + io.page_size()|int ) < io.numFound() %}
    <form method="get" action="">
          {% for item in io.get_safe_terms_object() %}
          <input type="hidden" name="{{item}}" value='{{io.get_safe_terms_object()[item]}}' />
          {% endfor %}
          <input type="hidden" name="q" value="{{io.get_q()}}" />
    <input type="hidden" name="from" value="{{io.start()|int + io.page_size()|int}}" />
    <input type="hidden" name="size" value="{{io.page_size()}}" />
    {% if io.sorted_by() != "" %}
        <input type="hidden" name="sort" value="{{io.sorted_by()}}{{io.config.facet_field}}" />
        <input type="hidden" name="order" value="{{io.sort_order()}}" />
    {% endif %}
    <input type="hidden" name="showkeys" value="{{io.get_showkeys()}}" />
    <input type="submit" class="paging_submit_right" name="submit" value="next" />
    </form>
    {% endif %}

</div>

<div class="spacer"></div>        

