{% extends "/base.html" %}

{% block content %}

<div class="row">
    <div class="span4 hero-unit">
        <iframe src="http://player.vimeo.com/video/35458484?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

        <p><a href="http://vimeo.com/35458484">BibSoup explained by Owl and Penguin</a> from <a href="http://vimeo.com/bibsoup">Bibsoup Project</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

        <iframe src="http://player.vimeo.com/video/35440937?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

        <p><a href="http://vimeo.com/35440937">Setting up a Bibserver and Faceted Browsing (Mark MacGillivray)</a> from <a href="http://vimeo.com/bibsoup">Bibsoup Project</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

        <iframe src="http://player.vimeo.com/video/35440831?title=0&amp;byline=0&amp;portrait=0" width="400" height="233" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

        <p><a href="http://vimeo.com/35440831">Ingesting a personal collection of references into Bibserver (Mark Williamson)</a> from <a href="http://vimeo.com/bibsoup">Bibsoup Project</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

        <iframe src="http://player.vimeo.com/video/35440770?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

        <p><a href="http://vimeo.com/35440770">Peter Murray-Rust Co-I Openbiblio project talks</a> from <a href="http://vimeo.com/bibsoup">Bibsoup Project</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

        <iframe src="http://player.vimeo.com/video/35440733?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

        <p><a href="http://vimeo.com/35440733">Interview with Mark MacGillivray, Openbiblio 2 project</a> from <a href="http://vimeo.com/bibsoup">Bibsoup Project</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

        <iframe src="http://player.vimeo.com/video/35440644?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

        <p><a href="http://vimeo.com/35440644">Bibsoup: Interview with Etienne Posthumus (developer)</a> from <a href="http://vimeo.com/bibsoup">Bibsoup Project</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

        <iframe src="http://player.vimeo.com/video/35440597?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

        <p><a href="http://vimeo.com/35440597">Interview with Ed Chamberlain, Openbiblio2 project</a> from <a href="http://vimeo.com/bibsoup">Bibsoup Project</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
    </div>
    <div class="span6">
        <p>This service is an example of the BibServer software, and it is in beta stage. Please use the following resources to find more information.</p>

        <ul>
        <li><a href="http://bibjson.org">BibJSON - the raw data you can get out of BibSoup</a></li>
        <li><a href="http://bibserver.org">The software website</a></li>
        <li><a href="http://github.com/okfn/bibserver">The software repository</a></li>
        <li><a href="http://github.com/okfn/bibserver/issues">Submit errors, issues, feature requests</a></li>
        <li><a href="http://openbiblio.net">The working group blog</a></li>
        <li><a href="http://openbiblio.net/p/jiscopenbib2">Related project information</a></li>
        </ul>
    </div>
</div>

{% endblock %}
