{% extends "/base.html" %}

{% block content %}

<div class="page-header">
  <h1>Learn more about BibServer</h1>
</div>

<h3>Links</h3>
<p>This service is an example of the BibServer software, and it is in beta stage. Please use the following resources to find more information.</p>
<ul>
<li><a href="http://bibserver.org/about/videos">Some informative videos</a></li>
<li><a href="http://bibserver.org">The software website</a></li>
<li><a href="http://github.com/okfn/bibserver">The software repository</a></li>
<li><a href="http://openbiblio.net">The working group blog</a></li>
</ul>


{% endblock %}
