{% extends "base.html" %}

{% block content %}
      <div class="hero-unit">
        <h1>Welcome to BibSoup!</h1>
        <p>BibSoup makes it easy to find, manage and share bibliographies.</p>
        <p><a class="btn primary large" href="/content/howto">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span-one-third column">
          <h2>Search records</h3>
          <p>Search shared collections and records. Find material relevant to your interests.</p>
          <p><a href="/search" class="btn">Search now &raquo;</a></p>
        </div>
        {% if upload == "YES" %}
        <div class="span-one-third column">
          <h2>Upload your collection</h2>
          <p>Build collections for your group, for your research, for your students; share them with everyone. Collections can be created from your own files, such as BibTex, and then be managed online or re-exported.</p>
          <p><a href="/upload" class="btn">Upload now &raquo;</a></p>
        </div>
        {% endif %}
        <div class="span-one-third column">
          <h2>Recent Collections</h2>
          {% if colls %}
          <ul id="collections">
          {% for i in range(colls|length) %}
          <li><a href="/{{colls[i]['owner']}}/{{colls[i]['slug']}}">{{colls[i]['label']}}</a> ({{colls[i]['total_records']}})</li>
          {% endfor %}
          </ul>
          {% endif %}
          <p><a href="/collection" class="btn">See more &raquo;</a></p>
        </div>
      </div>
{% endblock %}
