{% extends "base.html" %}

{% block content %}
      <div class="hero-unit">
        <h1>Welcome to BibSoup!</h1>
        <p>BibSoup makes it easy to find, manage and share bibliographies. <small>(now in beta)</small></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span-one-third column">
        {% if upload == "YES" %}
          <h2>Upload a collection</h2>
          <p>Build collections for your group, for your research, for your students; share them with everyone. Collections can be created from your own files, such as BibTex, and then be managed online or re-exported.</p>
          <p><a href="/upload" class="btn">Upload now &raquo;</a></p>
        {% endif %}
          <h2>Search all records</h3>
          <p>Search shared collections and records. Find material relevant to your interests.</p>
          <p><a href="/search" class="btn">Search now &raquo;</a></p>
          <h2>Create a new collection</h3>
          <p>(coming soon) Search available records, select your favourites to create a new collection - or, combine two or more collections to make a super-collection.</p>
          <h2>Share collection admin</h3>
          <p>(coming soon) Collaboratively create and edit a collection by giving other users admin rights.</p>
        </div>
        <div class="span-two-thirds column">
          <h2>Browse recent Collections</h2>
          {% if colls %}
          <table class="zebra-striped">
          {% for i in range(colls|length) %}
          <tr><td>
            <h3><a href="/{{colls[i]['owner']}}/{{colls[i]['collection']}}">{{colls[i]['label']}}</a> <small>({{colls[i]|length}} records)</small></h3>
            <p>{{colls[i]['description']}}</p>
          </td></tr>
          {% endfor %}
          </table>
          {% endif %}
          <p><a href="/collections" class="btn">See more &raquo;</a></p>
        </div>
      </div>
{% endblock %}
