<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8">
    <title>BibSoup</title>
    <meta name="description" content="BibSoup">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- get jquery js -->
    <script type="text/javascript" src="/static/vendor/jquery-1.7.1.min.js"></script>

    <!-- get bootstrap js and css -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- get our js and css -->
    <link rel="stylesheet" type="text/css" href="/static/css/bibserver.css">
    <script type="text/javascript" src="/static/js/bibserver.js"></script>

    <!-- get d3 for the front page -->
    <script type="text/javascript" src="/static/vendor/d3/d3.v2.min.js"></script>
                
    <!-- extra includes for facetview - linkify, jquery-ui and facetview js and css -->
    <script type="text/javascript" src="/static/vendor/facetview/vendor/linkify/1.0/jquery.linkify-1.0-min.js"></script>  
    <link rel="stylesheet" href="/static/vendor/facetview/vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.css">
    <script type="text/javascript" src="/static/vendor/facetview/vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="/static/vendor/facetview/jquery.facetview.js"></script>
    <link rel="stylesheet" href="/static/vendor/facetview/css/facetview.css">

    <!-- extra includes for jtedit - autoresize and jtedit js and css -->
    <script type="text/javascript" src="/static/vendor/jtedit/vendor/jquery.autoResize.js"></script>
    <link rel="stylesheet" href="/static/vendor/jtedit/jtedit.css">
    <script type="text/javascript" src="/static/vendor/jtedit/jquery.jtedit.js"></script>


  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
           <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">BibSoup</a>
          <div class="nav-collapse">
              <ul class="nav">
                <li><a href="/collections">Collections</a></li>
                <li><a href="/upload">Upload</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/create/collection">New collection</a></li>
                        <li><a href="/create/record">New record</a></li>
                    </ul>
                </li>
              </ul>
              <ul class="nav pull-right">
                <li>
                  <form class="navbar-search" id="topsearch" name="topsearch" action="/search" method="GET">
                    <input class="search-query" type="text" name="q" placeholder="search everything" />
                  </form>
                </li>
                {% if current_user.is_anonymous() %}
                <li>
                  <a href="{{url_for('account.register')}}">Sign up</a>
                </li>
                <li>
                  <a href="{{url_for('account.login')}}">Login</a>
                </li>
                {% else %}
                <li><a alt="view your account" title="view your account" href="/{{current_user.id}}"><i class="icon-user icon-white"></i> 
                {{ current_user.id }}</a></li>
                {% endif %}
              </ul>
          </div>    
        </div>
      </div>
    </div>


    <div class="container main">

    <div class="alert-messages">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {%if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}} fade in" data-alert="alert">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          {{ message | safe }}
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    </div>

    <div class="content">
      {% block content %}{% endblock %}
    </div> <!-- /content -->

    </div> <!-- /container -->

    <footer>
      <div class="container">
          <div class="row-fluid">
            <div class="span7">
                <p>Powered by open source <a href="https://github.com/okfn/bibserver">BibServer</a> v0.6.0
                 - <a href="https://github.com/okfn/bibserver/issues">feedback</a><br />
                Following <a target="_blank" href="http://openbiblio.net/principles/">Open Biblio Principles</a> (bibliographic metadata are facts)<br>
                Using the <a target="_blank" href="http://bibjson.org">BibJSON conventions</a></p>
            </div>
            <div class="span1">
              &nbsp;
           </div>
            <div class="span4">
                <p style="text-align:right">
                    <a href="http://opendefinition.org/"><img src="/static/openservice.png" /></a>
                    <a href="http://opendefinition.org/"><img src="/static/opendata.png" /></a><br />
                    Created and maintained with support from <a href="http://jisc.ac.uk">JISC</a> and <a href="http://okfn.org">OKF</a><br />
                    Currently running on <a href="http://www.openstack.org">OpenStack</a>! Thanks Flanders!<br>
                    Learn more about <a href="http://openbiblio.net/p/jiscopenbib2/">related projects</a>
                </p>
            </div>
          </div>
      </div>
    </footer>

    {% if app.config.get('GOOGLE_ANALYTICS', False) %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ app.config['GOOGLE_ANALYTICS'] }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}

  </body>
</html>
