{% extends "base.html" %}

{% block content %}
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function() {

    var newcoll = function(event) {
        event.preventDefault();
        $('.newrecord').hide();
        $('.newcollection').show('fast');
    };
    var newrec = function(event) {
        event.preventDefault();
        $('.newcollection').hide();
        $('.newrecord').show('fast');
    };
    $('.newcollection').hide();
    $('.newrecord').hide();
    $('#newcoll').bind('click',newcoll).show();
    $('#newrec').bind('click',newrec).show();
    $('.newcollback').bind('click',newcoll);
    $('.newrecback').bind('click',newrec);

    $('#creator').jtedit({
        'data':{}, 
        'makeform': false, 
        'actionbuttons': false,
        'jsonbutton': false,
        'target': '/record',
        'delmsg':"", 
        'savemsg':"", 
        "saveonupdate":false, 
        "reloadonsave":""
    });
    $('#jtedit_json').css({"width":"100%","min-height":"400px"}).toggle();
    var submitrecord = function(event) {
        event.preventDefault();
        $.fn.jtedit.saveit();
    };
    $('.submitrecord').bind('click',submitrecord);
    $('.jtedit_value').first().focus().blur();
    
    var addauthor = function(event) {
        event.preventDefault();
        var current = parseInt($(this).attr('href')) + 1;
        var newauthor = '<div><span class="upload_label"><a title="add another" id="addauthor" style="font-size:140%;font-weight:bold;" href="' + current.toString() + '"> + </a> author ' + (current + 1).toString() + ':</span> <input type="text" class="jtedit_value" data-path="author.' + current.toString() + '.name" /></div>';
        $(this).parent().parent().after(newauthor);
        $(this).remove();
        $('#addauthor').bind('click',addauthor);
    };
    $('#addauthor').bind('click',addauthor);
    var addlink = function(event) {
        event.preventDefault();
        var current = parseInt($(this).attr('href')) + 1;
        var newlink = '<div><span class="upload_label"><a title="add another" id="addlink" style="font-size:140%;font-weight:bold;" href="' + current.toString() + '"> + </a> link ' + (current + 1).toString() + ':</span> <input type="text" class="jtedit_value" data-path="link.' + current.toString() + '.url" /></div>';
        $(this).parent().parent().after(newlink);
        $(this).remove();
        $('#addlink').bind('click',addlink);
    };
    $('#addlink').bind('click',addlink);
    
    {% if rtype == 'collection' %}
        $('#newcoll').trigger('click');
    {% endif %}
    {% if rtype == 'record' %}
        $('#newrec').trigger('click');
    {% endif %}
    
});

// Retrieve the available license options from http://licenses.opendefinition.org/
jQuery.ajax({
  url:'http://licenses.opendefinition.org/licenses/jsonp/ckan.js',
  dataType: 'jsonp',
  // you *must* set the callback function to be licenses_callback
  jsonpCallback: 'license_callback',
  success: function(data) {
    var options = '';
    for(var idx=0; idx<data.length; idx++) {
        var o = '<option value="' + data[idx].url + '">' + data[idx].title + '</option>';
        options += o;
    }  
    jQuery('.license_choice').html(options);
  }
});
</script>            

<div class="row-fluid">
    <div class="span12">
        <div class="btn-group" data-toggle="buttons-radio" style="margin-bottom:10px; display:none;">
            <button type="button" class="btn btn-large" id="newcoll">New collection</button>
            <button type="button" class="btn btn-large" id="newrec">New record</button>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
    <div class="hero-unit">
        
            <div class="newcollection" style="display:none;">
                <form action="/create" method="POST" enctype="multipart/form-data">
                    <p>Create a new collection then <a href="/search">search</a> for records to add to it. Alternatively, <a href="/upload">upload</a> a collection from your own source.</p>

                    <br /><span class="upload_label">name your collection:</span> <input id="collection" type="text" name="collection" />

                    <br /><span class="upload_label">provide a description:</span> <textarea id="description" name="description"></textarea>
                    
                    <br /><span class="upload_label">collection license:</span> <select class="license_choice" name="license"></select>
                                                                        
                    <br /><br /><span class="upload_label"></span> <input class="btn btn-primary large" type="submit" name="submit" value="create collection" />            
                </form>
            </div>

            <div class="newrecord" style="display:none">
                <form action="/create" method="POST" enctype="multipart/form-data">
                            
                    <p>Make a new record, add it to one of your collections.</p>
                    
                    <div><span class="upload_label">title:</span> <input type="text" name="title" data-path="title" class="jtedit_value" /></div>
                    <div><span class="upload_label"><a title="add another" id="addauthor" style="font-size:140%;font-weight:bold;" href="0"> + </a> author:</span> <input type="text" name="author_0_name" class="jtedit_value" data-path="author.0.name" /></div>
                    
                    <div><span class="upload_label">year:</span> <input type="text" name="year" class="jtedit_value" data-path="year" />
                    </div><div><span class="upload_label">type:</span> <input type="text" name="type" class="jtedit_value" data-path="type" />
                    </div><div><span class="upload_label">abstract:</span> <textarea type="text" name="abstract" class="jtedit_value" data-path="abstract"></textarea>
                    </div><div><span class="upload_label">license:</span> <select class="license_choice jtedit_value" data-path="license.0.type" name="license"></select>

                    </div><div><span class="upload_label"><a title="add another" id="addlink" style="font-size:140%;font-weight:bold;" href="0"> + </a> link:</span> <input type="text" name="link_0_url" class="jtedit_value" data-path="link.0.url" />
                    </div><div><span class="upload_label">DOI:</span> <input type="hidden" class="jtedit_value" data-path="identifier.0.type" value="DOI" /><input type="text" name="identifier_0_id" class="jtedit_value" data-path="identifier.0.id" />
                    </div><div><span class="upload_label">journal name:</span> <input type="text" name="journal_name" class="jtedit_value" data-path="journal.name" /></div>
                    
                    <hr></hr>
                    
                    <div><span class="upload_label">add to collection:</span> <select name="collection" id="collection" class="jtedit_value" data-path="collection.0">
                    <option value="">No thanks, just create the record</option>
                    <!--<option value="NEW">Hmm, make me a new collection to upload them to</option>
                    <option value="">------------------------------</option>-->
                    {% for coll in current_user.collections(size=10000) %}
                        <option value="{{coll.id}}">{{coll.name}}</option>
                    {% endfor %}
                    </select>
                    <small><br>If you don't see the collection you want, <a href="#" class="newcollback">go and create one first</a>.<br>Then come back and make your new record.<br></small></div>

                    <hr></hr>
                    
                    <div><span class="upload_label"></span> <input class="btn btn-primary large submitrecord" type="submit" name="submit" value="create record" /></div>
                                        
                </form>
            </div>

    </div>
    </div>
    
    <div class="span6 newrecord" style="display:none;">
    <div class="hero-unit">
        <p>You can directly edit the JSON for more control.</p>
        <div id="creator" class="clearfix"></div>
        <p><input class="btn btn-primary large submitrecord" type="submit" name="submit" value="create record" /></p>
        <small><br /><br />Check out the <a target="_blank" href="http://bibjson.org">bibjson conventions</a> for hints on how to create a suitable record.</small>
    </div>
    </div>
    
</div>
{% endblock %}

