{% extends "/base.html" %}

{% block content %}


<script type="text/javascript">
jQuery(document).ready(function() {
    
    var searcher = '<p style="text-align:right">search <select class="span2" id="extsrch_target">'
    searcher += '<option value="/search?q=">This site</option>'
    searcher += '<option value="/{{ rec.data.owner }}/{{ rec.data.collection }}?q=">The {{ rec.data.collection }} collection</option>'
    var searchables = {{ searchables | safe }}
    for ( var item in searchables ) { searcher += '<option value="' + searchables[item] + '">' + item + '</option>'; }
    searcher += '</select><br>for <input class="span2" id="extsrch_value" />'
    jQuery('#searcher').append(searcher)
    var searchvals = {{ searchvals | safe }}
    jQuery('#extsrch_value').autocomplete({source:searchvals})

    var dosearch = function(event) {
        var target = jQuery('#extsrch_target').val()
        var value = jQuery('#extsrch_value').val()
        if ( target.match("XXXX") ) {
            var href = target.replace("XXXX",value)
        } else {
            var href = target + value
        }
        window.open(href)
        //window.location = href
    }
    var checkenter = function(event) {
        var keycode = (event.keyCode ? event.keyCode : event.which)
        if (keycode == '13') { dosearch(event) }
    }
    jQuery('#extsrch_value').bind('keyup',checkenter)
    
});
</script>

<div class="hero-unit clearfix">
    <div class="span7">
        {{ rec.pretty | safe }}
    </div>
    <div style="border-left:1px solid #666" class="span3" id="searcher">
    </div>
</div>

<div class="row">

    <div id="panel" class="span8">
    {% if not current_user.is_anonymous() %}
        <h3>Edit this record</h3>
    {% endif %}
    </div>
        
</div>

{% endblock %}

