{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="span6 hero-unit">
        <form action="/upload" method="POST" enctype="multipart/form-data">
        
            <h2>Upload your collection</h2>
            
            <div id="fromurl">
            <span class="upload_label">collection URL:</span> <input class="sourcefile" type="text" name="source" /><br />
            </div>

            <div id="frompc">
            <span class="upload_label">upload from your PC:</span> <input class="sourcefile" type="file" name="upfile" /><br />
            </div>

            (or <a class="frompc" href="">upload from your PC</a>)<br /><br />

            <br /><span class="upload_label">name your collection:</span> <input id="collection" type="text" name="collection" />

            <br /><br /><span class="upload_label">provide a description:</span> <textarea id="description" name="description"></textarea>
            
            <br /><br /><span class="upload_label">collection license:</span>
            <select id="license_choice" name="license">
            </select>
            <script type="text/javascript" charset="utf-8">
            // Retrieve the available license options from http://licenses.opendefinition.org/
            jQuery.ajax({
              url:'http://licenses.opendefinition.org/licenses/jsonp/ckan.js',
              dataType: 'jsonp',
              // you *must* set the callback function to be licenses_callback
              jsonpCallback: 'license_callback',
              success: function(data) {
                var options = '';
                for(var idx=0; idx<data.length; idx++) {
                    var o = '<option value="' + data[idx].url + '">' + data[idx].title + '</option>';
                    options += o;
                }  
                jQuery('#license_choice').html(options);
              }
            });
            </script>            

            <div id="fileformat">
                    <br /><span class="upload_label">please specify file format:</span><br /><br />
                    {% for p in parser_plugins %}
                    <span class="upload_label"></span> <input name="format" type="radio" value="{{p.format}}" /> {{p.display_name}} <br />
                    {% endfor %}
            </div>
            
            <br /><br />
            <span class="upload_label"></span> <input class="btn btn-primary large" type="submit" name="submit" value="upload" />
            
        </form>
    </div>
    
            
    <div class="span4">
        <p>If you don't want to upload to a collection yet, you can also just <a href="/create">create a new empty collection</a>.</p>
        <p>BibSoup uses bibJSON to represent bibliographic records; so in order to upload a collection,
        it needs to be in bibJSON.</p>
        <p>If your collection is available online, then you can upload directly from the URL of the online file - 
        and this also enables you to one-click refresh your collection whenever you make changes to that source file.</p>
        <p>If your collection is not already in bibJSON, then try using one of our parsers to convert it.</p>
        <p>Visit <a href="http://bibjson.org">http://bibjson.org</a> to learn more about bibJSON.</p>
        
        <div style="margin-top: 100px">
            <p>Once you start an upload, a ticket will be created to track your upload request. You can 
            then track your upload progress via the upload tickets info page.</p>
            <a class="btn btn-large btn-info" href="/ticket/">View Upload Tickets</a>
        </div>
        
    </div>
</div>
{% endblock %}

