{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="span6 hero-unit">
        <form action="/upload" method="POST" enctype="multipart/form-data">
        
            <h2>Upload your bibJSON collection</h2>
            
            <div id="fromurl">
            <span class="upload_label">bibJSON collection URL:</span> <input class="sourcefile" type="text" name="source" /><br />
            </div>

            <div id="frompc">
            <span class="upload_label">upload from your PC:</span> <input class="sourcefile" type="file" name="upfile" /><br />
            </div>

            (or <a class="frompc" href="">upload from your PC</a>)<br /><br />

            <br /><span class="upload_label">name your collection:</span> <input id="collection" type="text" name="collection" />

            <br /><br /><span class="upload_label">provide a description:</span> <textarea id="description" name="description"></textarea>

            <br /><br /><span class="upload_label"></span> <input class="btn btn-primary large" type="submit" name="submit" value="upload" />
            <div id="fileformat">
                    <p>We could not identify the file format, please specify:</p>
                    <input name="format" type="radio" value="bibtex" /> bibtex <br />
                    <input name="format" type="radio" value="json" /> JSON <br />
                    <input name="format" type="radio" value="csv" /> csv <br />
                    <input name="format" type="radio" value="ris" /> ris <br />
                    <input name="format" type="radio" value="wikipedia" /> wikipedia <br />
                    <p></p>
            </div>
        </form>
    </div>
    
            
    <div class="span4">
        <p>BibSoup uses bibJSON to represent bibliographic records; so in order to upload a collection,
        it needs to be in bibJSON.</p>
        <p>If your collection is available online, then you can upload directly from the URL of the online file - 
        and this also enables you to one-click refresh your collection whenever you make changes to that source file.</p>
        <p>If your collection is not already in bibJSON, then try using one of our parsers to convert it.</p>
        <p>Visit <a href="http://bibjson.org">http://bibjson.org</a> to learn more about bibJSON.</p>
    </div>
</div>
<div>
    <h2><a href="#" id="ingest_tickets_toggle">List of Upload Tickets</a></h2>
    <div id="ingest_tickets" style="display:none"><ul>
    {% for t in ingest_tickets %}
    <li><a href="/ticket/{{t.id}}">{{t}}</a></li>
    {% endfor %}</ul></div>
    <script type="text/javascript" charset="utf-8">
        jQuery('#ingest_tickets_toggle').toggle(
          function(event) {
              jQuery('#ingest_tickets').show();
          },
          function(event) {
              jQuery('#ingest_tickets').fadeOut('fast');
          }
        );
    </script>
</div>
{% endblock %}

