{% extends "/base.html" %}

{% block content %}
{% if edit %}

    <div id="record_box" class="clearfix">

    <h2><a href="/{{coll.owner}}/{{coll.id}}">{{coll.id}}</a></h2>

    <h3>Facet filters on your search result view:</h3>
    <table>
    <tr><th>key</th><th>order by</th><th>default size</th><th></th></tr>
    {% if 'display_settings' in coll %}
        {% if 'facet_fields' in coll['display_settings'] %}
            {% for item in coll['display_settings']['facet_fields'] %}
                <tr><td>{{item['key']}}</td><td>{{item['order']}}</td><td>{{item['size']}}</td><td><a class="remove_facet" href="{{ loop.index0 }}">remove</a></td></tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="3">
            <p>No custom facets yet. Defaults in use. Add your own!</p>
            <p>NOTE: Some keys make better facets than others. A facet key should not be something that is unique in every record, 
            but something that shows up in some records. For example, a year facet allows you to easily find every record with a 
            certain year value, e.g. 2008.</p>
            </td></tr>
        {% endif %}
    {% else %}
        <tr><td colspan="3">
        <p>No custom facets yet. Defaults in use. Add your own!</p>
        <p>NOTE: Some keys make better facets than others. A facet key should not be something that is unique in every record, 
        but something that shows up in some records. For example, a year facet allows you to easily find every record with a 
        certain year value, e.g. 2008.</p>
        </td></tr>
    {% endif %}
    <tr>
    <td><select id="new_key" name="key">
    <option>...</option>
    {% for item in io.get_keys() %}
        <option>{{item['key']}}</option>
    {% endfor %}
    </select></td>
    <td><select id="new_order" name="order">
    <option value="term">a-z</option>
    <option value="reverse_term">z-a</option>
    <option value="count">count</option>
    <option value="reverse_count">reverse count</option>
    </select></td>
    <td><input type="text" id="new_size" name="size" value="100" /></td>
    <td><a class="add_facet" href="">add</a></td>
    </tr>
    </table>
        
    </div>

    <script type="text/javascript">
    jQuery(document).ready(function() {

        var add_facet = function(event) {
            event.preventDefault();
            if ( jQuery('#new_key').val() == "..." ) {
                alert("Please select a key first.");
                return false;
            }
            $.ajax({
                url: '/collections/{{id}}.json'
                , type: 'GET'
                , success: function(data, statusText, xhr) {
                    var thedata = data;
                    if (!('display_settings' in thedata)) {
                        thedata['display_settings'] = {};
                    }
                    if (!('facet_fields' in thedata.display_settings)) {
                        thedata.display_settings.facet_fields = [];
                    }
                    thedata.display_settings.facet_fields.push({"key":jQuery('#new_key').val(),"order":jQuery('#new_order').val(),"size":jQuery('#new_size').val()});
                    jQuery.ajax({
                        url: '/collections/{{id}}?version={{version}}'
                        , type: 'POST'
                        , data: JSON.stringify(thedata)
                        , dataType: 'json'
                        , contentType: "application/json; charset=utf-8" 
                        , processData: false
                        , success: function(data, statusText, xhr) {
                            alert("Facet options updated.");
                            window.location.href = window.location.href;
                        }
                        , error: function(xhr, message, error) {
                            alert("failed! " + error);
                        }
                    });
                }
                , error: function(xhr, message, error) {
                    alert("Sorry. Your data could not be parsed from " + sourceurl);
                }
            });
        }
        jQuery('.add_facet').bind('click',add_facet);

        var remove_facet = function(event) {
            event.preventDefault();
            var index = jQuery(this).attr('href');
            $.ajax({
                url: '/collections/{{id}}.json'
                , type: 'GET'
                , success: function(data, statusText, xhr) {
                    var thedata = data;
                    thedata.display_settings.facet_fields.splice(index,1);
                    jQuery.ajax({
                        url: '/collections/{{id}}?version={{version}}'
                        , type: 'POST'
                        , data: JSON.stringify(thedata)
                        , dataType: 'json'
                        , contentType: "application/json; charset=utf-8" 
                        , processData: false
                        , success: function(data, statusText, xhr) {
                            alert("Facet options updated.");
                            window.location.href = window.location.href;
                        }
                        , error: function(xhr, message, error) {
                            alert("failed! " + error);
                        }
                    });
                }
                , error: function(xhr, message, error) {
                    alert("Sorry. Your data could not be parsed from " + sourceurl);
                }
            });
        }
        jQuery('.remove_facet').bind('click',remove_facet);


    });
    </script>
{% else %}
    <div id="record_box" class="clearfix">
    <p>Editing layout is for collection owners. Sorry!</p>
    </div>
{% endif %}

{% endblock %}

