{% extends "/base.html" %}

{% block content %}
{% if edit %}
    <a href="?display_settings=true" class="btn info span3">edit collection display settings</a>
    <a href="" id="savethis" class="btn primary span3">update this collection record</a>
    <a href="" id="deletethis" class="btn danger span3">delete this collection record</a>
    <div id="record_box" class="clearfix">
    </div>
    <script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#record_box').jtedit({"source":window.location.pathname+".json","noedit":["id","source","_last_modified","_created","owner","records","query","size","label"]});
        var saveit = function(event) {
            event.preventDefault();
            var thedata = $.parseJSON(jQuery('#jtedit_json').val());
            $.ajax({
                url: '/collections/{{id}}?version={{version}}'
                , type: 'POST'
                , data: JSON.stringify(thedata)
                , dataType: 'json'
                , contentType: "application/json; charset=utf-8" 
                , processData: false
                , success: function(data, statusText, xhr) {
                    alert("Collection record updated.");
                }
                , error: function(xhr, message, error) {
                    alert("failed! " + error);
                }
            });
        }
        var deleteit = function(event) {
            event.preventDefault();
            $.ajax({
                url: '/collections/{{id}}?delete=true'
                , type: 'POST'
                , success: function(data, statusText, xhr) {
                    alert("Collection deleted. Redirecting to user account page.");
                    window.location = '/account/{{current_user.id}}';
                }
                , error: function(xhr, message, error) {
                    alert("failed! " + error);
                }
            });            
        }
        jQuery('#savethis').bind('click',saveit);
        jQuery('#deletethis').bind('click',deleteit);
    });
    </script>
{% else %}
    <div id="record_box" class="clearfix">
    <p>Full collection metadata is for collection owners</p>
    </div>
{% endif %}

{% endblock %}

