#header {
    width: 100%
    clear: both;
}

#logo {
    width: 17%
    float: left;
}

#title {
    width: 80%;
    text-align: center;
    font-weight: bold;
    font-size: 140%;
    float: right;
}

#navigation {
    padding-top: 20px;
    clear: left;
    float:left;
    width: 17%;
}

#panel {
    width: 80%;
    float: right;
}