{% extends "/base.html" %}

{% block content %}

<div id="bibserver_search">
  <div class="search_box">
      <form method="get" action="">
          <input type="text" id="searchbox" name="q" value='{{c['io'].get_q()}}' />
          {% for item in c['io'].get_safe_terms_object() %}
          <input type="hidden" name="{{item}}" value='{{c['io'].get_safe_terms_object()[item]}}' />
          {% endfor %}
          {% if c['io'].page_size() != 10 %}
              <input type="hidden" name="size" value="{{c['io'].page_size()}}" />
          {% endif %}
          {% if c['io'].sorted_by() != "" %}
              <input type="hidden" name="sort" value="{{c['io'].sorted_by()}}" />
              <input type="hidden" name="order" value="{{c['io'].sort_order()}}" />
          {% endif %}
          <input type="submit" name="search" value="Search" />
      </form>
      <form method="get" action="">
            <input type="submit" name="submit" value="clear" />
      </form>

  </div>
</div>

    <div id="panel">
    
    {% if c['io'].numFound() != 0 %}
      {% include "search/paging.html" %}
    {% endif %}

    
    {% if c['io'].numFound() == 0 %}
        No results
    {% else %}
        
        <!-- the result set itself -->        
        {% include "collection/list-view.html" %}
    
    {% endif %}

    </div>

    <div id="resultstrap">
    </div>

{% endblock %}


