<div class="list_view">
    {% for i in range(c['io'].set()|length) %}
        <div class="list_result_{{'odd' if i % 2 == 0 else 'even'}}">
            <h3><a href="/collection/{{c['io'].get_str(c['io'].set()[i], 'slug')|safe}}">{{c['io'].get_str(c['io'].set()[i], 'slug')|safe}}</a></h3>
            <ul>
            <li>contains: {{c['io'].get_str(c['io'].set()[i], 'total_records')|safe}} records</li>
            <li>created: {{c['io'].get_str(c['io'].set()[i], 'created')|safe}}</li>
            <li>last updated: {{c['io'].get_str(c['io'].set()[i], 'modified')|safe}}</li>
            <li>source: <a href="{{c['io'].get_str(c['io'].set()[i], 'source')|safe}}">{{c['io'].get_str(c['io'].set()[i], 'source')|safe}}</a></li>
            <li>source format: {{c['io'].get_str(c['io'].set()[i], 'format')|safe}}</li>
            </ul>

        </div>
    {% endfor %}
</div>
