<%include file="/header.html"/>

<div id="bibserver_search">
  <div class="search_box">
      <form method="get" action="">
          <input type="text" name="q" value='${c['io'].get_q()}' />
          % for item in c['io'].get_safe_terms_object():
          <input type="hidden" name="${item}" value='${c['io'].get_safe_terms_object()[item]}' />
          % endfor
          <input type="submit" name="search" value="Search" />
      </form>
      <form method="get" action="">
            <input type="submit" name="submit" value="clear" />
      </form>

  </div>
</div>

% for facet in c['implicit_facet']:
    <h3>${facet} : <a href="/${facet}/${c['implicit_facet'][facet]}">${c['implicit_facet'][facet]}</a></h3>
% endfor

    <div id="navigation">
        <%include file="facet.mako"/>
    </div>
    
    <div id="panel">
    
    % if c['io'].numFound() != 0:
        <%include file="paging.mako"/>
    % endif

    
    % if c['io'].numFound() == 0:
        No results
    % else:
        
        <!-- the result set itself -->        
        <%include file="list-view.mako"/>
    
    % endif

    </div>

    <div id="resultstrap">
    ${c['io'].get_meta()}
    </div>

<%include file="/footer.html"/>

