<%include file="/header.html"/>

<div id="bibserver_search">
  <div class="search_box">
      <form method="get" action="${c['config'].base_url}">
          % if 'q' in c:
          <input type="text" name="q" value="${c['q']}" />
          % else:
          <input type="text" name="q" />
          % endif 
          % if 'a' in c:
              <input type="hidden" name="a" value="${c['a']}" />
          % endif
          <input type="submit" name="submit_search" value="Search" />
          <a class="btn" href="${c['config'].base_url}">clear</a>
      </form>
  </div>
</div>

% for facet in c['implicit_facet']:
    <h3>${facet} : <a href="/${facet}/${c['implicit_facet'][facet]}">${c['implicit_facet'][facet]}</a></h3>
% endfor

    <div id="navigation">
        <%include file="facet-extra.mako"/>
    </div>
    
    <div id="panel">
    
    % if c['results'].numFound() != 0:
        <%include file="paging.mako"/>
    % endif

    
    % if c['results'].numFound() == 0:
        No results
    % else:
        
        <!-- the result set itself -->        
        <%include file="list-view.mako"/>
    
    % endif

    </div>

    <div id="resultstrap">
    ${c['results'].get_meta()}
    </div>

<%include file="/footer.html"/>

