
html, body{
    margin:0;
    padding:0;
    color:#373737;
    font-size:1.0em;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px #aaa;
}

a{
    text-decoration:none;
    border-bottom:1px solid #ccc;
    color:#373737;
}
a:hover{
    color:#4444aa;
    border-bottom:1px solid #4444aa;
}

#bibserver_container{
    margin:0 auto 0 auto;
    width:800px;
    background:#fff;
    padding:0;
}

#bibserver_header{
    margin:-30px 0 20px 0;
    width:100%;
    text-align:center;
    padding:0;
   -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -moz-box-shadow: 2px 2px 10px #373737;
    -webkit-box-shadow: 2px 2px 10px #373737;
    box-shadow: 2px 2px 10px #373737;
    background:#eee;
}
#bibserver_header h1{
    color:#373737;
    font-size:2em;
    padding:10px 0 20px 0;
}

#bibserver_msg{
    margin:10px 0 10px 0;
    width:100%;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 10px #ccff99;
    -webkit-box-shadow: 2px 2px 10px #ccff99;
    box-shadow: 2px 2px 10px #ccff99;
    background:#ccff99;
}
#bibserver_msg p{
    padding:10px;
    font-size:1.1em;
}

#bibserver_search{
    float:left;
    width:70%;
    margin:8px 0 30px 0;
}
#bibsoup_searchbox{
    width:465px;
    background: #eeeeff;
    border:2px solid #4444aa;
   -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size:1.4em;
    margin:0;
    padding:3px 3px 3px 5px;
}
#bibsoup_searchsubmit{
    border: 2px solid #4444aa;
    color:#4444aa;
    cursor:pointer;
    padding: 2px;
    background: #ddd;
    margin-left: -7px;
    font-size:1.4em;
   -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#bibsoup_options{
    margin:0;
    float:left;
    width:30%;
    text-align:right;
}
#bibsoup_options ul{
    list-style-type:none;
    padding:0;
    margin:0 0 20px 0;
}

#bibserver_create{
    display:none;
}

#bibsoup_upload{
    clear:both;
    margin:10px 0 0 30px;
    width:100%;
}
.style_head{
    font-family: 'Nova Square', cursive;
    font-size:1.6em;
    margin:0;
    padding:0 0 10px 0;
    width:100%;
    background:#eeeeff;
}

#infos{
    clear:both;
    float:left;
    width:70%;
    padding:30px 0 0 0;
}
.infobubble{
    width:44%;
    height:200px;
    float:left;
    padding:0;
    margin:0 15px 15px 0;
    border:2px solid #4444aa;
   -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 3px 3px 10px #4444aa;
    -webkit-box-shadow: 3px 3px 10px #4444aa;
    box-shadow: 3px 3px 10px #4444aa;
}
.infobubble h3{
    margin:0;
    padding:5px;
}
.infobubble p{
    margin:0;
    padding:5px;
}
.infobubble input[type="submit"]{
    font-size:1.6em;
    border:0px solid #ccc;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 10px #4444aa;
    -webkit-box-shadow: 3px 3px 10px #4444aa;
    box-shadow: 3px 3px 10px #4444aa;
    margin:10px 0 20px 120px;
    padding:2px 4px 2px 4px;
    cursor:pointer;
    background:#4444aa;
    color:white;
}

#bibsoup_collections{
    padding:30px 0 0 0;
    float:left;
    width:30%;
    text-align:right;
}
#bibsoup_collections ul{
    list-style-type:none;
    padding:0;
    margin:0 0 20px 0;
}

#bibserver_vis{
    clear:both;
    width:100%;
    padding:30px 0 0 0;
}

#bibsoup_spacer{
    clear:both;
    width:100%;
    height:40px;
}

#bibserver_footer{
    border:1px solid #ddd;
    width:100%;
    clear:both;
    font-size:0.8em;
}
#bibserver_footer ul{
    float:left;
    list-style-type:none;
    padding:0 30px 50px 0;
}

.caveat{
    font-weight:normal;
    font-size:0.6em;
    color:#aaa;
    margin:0 0 0 20px;
}



