table {
    font-size: 10pt;
}

#header {
    width: 100%
    clear: both;
    background: #000000;
    color: #ffffff;
    padding: 8px;
}

#logo {
    width: 17%
    float: left;
}

#title {
    width: 80%;
    text-align: center;
    font-weight: bold;
    font-size: 180%;
    float: right;
}

#navigation {
    padding-left:0;
    padding-top: 20px;
    clear: left;
    float:left;
    width: 25%;
}

#panel {
    width: 73%;
    float: right;
}

.search_constraints {
    float:left;
    clear: both;
    width:100%;
}

.search_constraint {
    float: left;
    border: 1px solid #33ff33;
    background: #ddffdd;
    padding: 3px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 10px;
}

.sort_options {
    clear: both;
}

.results_per_page {
    float:left;
}

.paging {
    float:left;
}

#footer {
    margin-top: 20px;
    clear: both;
    border-top: 1px solid;
    padding-left: 10px;
    padding-top: 10px;
}

.current_sort_option {
    float: left;
    border: 1px solid #ffff33;
    background: #ffffdd;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.current_sort_option a {
    text-decoration: none;
}

.potential_sort_option {
    float: left;
    border: 1px dotted #999999;
    background: #eeeeee;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.potential_sort_option a {
    text-decoration: none
}

.sort_label {
    float: left;
    padding: 3px;
    margin-top: 10px;
}

.rpp_label {
    float: left;
    padding: 3px 6px 3px 3px;
    margin-top: 10px;
}

.potential_rpp {
    float: left;
    margin-top: 10px;
    padding: 3px;
    padding-bottom: 5px;
    border: 1px solid #000000;
    margin-right: 3px;
}

.potential_rpp:hover {
    background: #eeeeff;
}

.potential_rpp a {
    text-decoration: none;
    color: #000000;
}

.current_rpp {
    float: left;
    font-weight: bold;
    border: 1px solid #000000;
    border-bottom: 3px solid #000000;
    margin-top: 10px;
    padding: 3px;
    margin-right: 3px;
    background: #ddddff;
}

.paging_label {
    float: left;
    padding: 3px 6px 3px 3px;
    margin-top: 10px;
}

.potential_page {
    float: left;
    margin-top: 10px;
    padding: 3px;
    padding-bottom: 5px;
    border: 1px solid #000000;
    margin-right: 3px;
}

.potential_page:hover {
    background: #eeeeff;
}

.potential_page a {
    text-decoration: none;
    color: #000000;
}

.current_page {
    float: left;
    font-weight: bold;
    border: 1px solid #000000;
    border-bottom: 3px solid #000000;
    margin-top: 10px;
    padding: 3px;
    margin-right: 3px;
    background: #ddddff;
}

.result_view {
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.delete_url {
    text-decoration: none;
    color: #ff0000;
    font-weight: bold;
}

.no_results {
    padding-top: 50px;
}

.facet_heading {
    text-decoration: none;
    font-weight: bold;
}

.facet_heading a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.facet_value {
    padding-left: 20px;
}

.facet {
    padding-bottom: 15px;
}

.data_table {
    border-bottom: 1px solid #000000;
}

.data_table th {
    font-weight: bold;
    background: #999999;
    color: #ffffff;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    padding-left: 3px;
    padding-right: 3px;
}

.data_table .odd td {
    background: #ffffff;
    border-right: 1px solid #000000;
    padding-left: 3px;
    padding-right: 3px;
}

.data_table .even td {
    background: #f3f3f3;
    border-right: 1px solid #000000;
    padding-left: 3px;
    padding-right: 3px;
}

.implicit_title {
    width: 100%;
    clear: both;
    text-align: center;
}

.implicit_title h1 {
    font-weight: bold;
    text-align: center;
    font-size: 140%;
}

.search_box {
    margin: -5px;
}

.search_box form {
    float: left;
    padding: 3px;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.search_box form input[type="submit"] {
    border: 2px solid #4444aa;
    color:#4444aa;
    cursor:pointer;
    padding: 2px;
    background: #ddd;
    margin-left: -7px;
    font-size:1.4em;
   -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.search_box form input[type="text"] {
    border: 2px solid #4444aa;
    padding: 3px;
    background: #eeeeff;
    width:465px;
   -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size:1.4em;
}

.list_view {
    margin:10px 0 0 0;
}

.list_result_odd {
    background:#eee;
    padding-left:3px;
    padding-bottom:15px;
}

.list_result_even {
    background:#ddd;
    padding-left:3px;
    padding-bottom:15px;
}

.list_result_field {

}

.list_result_options{
    clear:both;
    padding-top:5px;
    width:100%;
    border-top:1px dotted #ccc;
}

.list_result_options select{
    width:100px;
}

.list_result_options form{
    display:inline;
}

.list_result_hidden {
    display:none;
}
