<%include file="/header.mako"/>

<div id="bibsoup_upload">

% if page == "caveat":
<p>this service is alpha - brand new, in testing. no data is secure or backed up. you may see odd errors. but don't worry, just have fun.</p>
<p>All the data in this service will be removed at some point prior to moving to Beta. Once we are at beta, the service will become reliable.</p>
% endif

% if page == "feedback":
<p>Our code repository is at:<p>
<p><a href="http://github.com/okfn/bibserver">http://github.com/okfn/bibserver</a></p>
<p>You can leave issues in the <a href="http://github.com/okfn/bibserver/issues">issue tracker</a> there. Thanks very much for your help!</p>
% endif

% if page == "howto":
<p>This website is an example of the BibServer software. It is an early stages example, so there is no more information here yet. However, you can find more details at our project website:</p>
<p><a href="http://bibserver.okfn.org">http://bibserver.okfn.org</a></p>
% endif

</div>

<%include file="/footer.mako"/>

