<%include file="/header.mako"/>

<div id="bibsoup_upload">

% if page == "caveat":
<p>this service is alpha - brand new, in testing. no data is secure or backed up. you may see odd errors. but don't worry, just have fun.</p>
<p>All the data in this service will be removed at some point prior to moving to Beta. Once we are at beta, the service will become reliable.</p>
% endif

% if page == "feedback":
<p>Our code repository is at:<p>
<p><a href="http://github.com/okfn/bibserver">http://github.com/okfn/bibserver</a></p>
<p>You can leave issues in the <a href="http://github.com/okfn/bibserver/issues">issue tracker</a> there. Thanks very much for your help!</p>
% endif

% if page == "howto":
<p>More details about how bibsoup works.</p>
<p>Details about embedding in documents.</p>
<p>Details about using js tools to send data to bibsoup / bibserver.</p>
<p>Information about the bibserver software.</p>
% endif

</div>

<%include file="/footer.mako"/>

