
      </div> <!-- /content -->

      <footer>
        <div class="row">
          <div class="span6">
            <h4>About</h4>
            <ul>
              <li><a href="/content/howto">FAQ</a></li>
              <li><a href="https://github.com/okfn/bibserver/issues">Feedback</a></li>
              <li><a href="https://github.com/okfn/bibserver">Source Code</a></li>
            </ul>
          </div>
          <div class="span5">
            &nbsp;
         </div>
          <div class="span5">
            <h4>Meta</h4>
            <p>&copy; Open Knowlege Foundation 2011</p>
            <p>Powered by <a href="http://bibserver.okfn.org">BibServer</a></p>
          </div>
        </div>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
