<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BibSoup - from the Open Knowledge Foundation</title>
    <meta name="description" content="BibSever - http://bibserver.okfn.org/">
    <meta name="author" content="Open Knowledge Foundation">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300&v2">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nova+Square">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/static/bootstrap-1.2.0.min.css">

    <!-- our styles -->
    <link rel="stylesheet" type="text/css" href="/static/bibsoup.css">
    <link rel="stylesheet" type="text/css" href="/static/solreyes.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"></script>
    <script src="/static/bibsoup.js"></script>
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="/">BibSoup</a></h3>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/content/howto">FAQ</a></li>
          </ul>
          <ul class="nav secondary-nav">
            <li>
              <form action="/search" method="GET">
                <input type="text" name="q" placeholder="search" />
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

    %if msg:
        <div id="bibserver_msg">
            <p> ${msg} </p>
        </div>
    %endif

    <div class="content">

