<%include file="/header.mako"/>

<div id="infos">
    <div class="infobubble">
        <h3>Manage your bibliography</h3>
        <p>Build and manage your own collection from your own files, in your preferred format</p>
        <p><a href="/content/howto">learn more...</a></p>
    </div>
    <div class="infobubble">
        <h3>Upload your collection</h3>
        <p>Upload to our service and keep in sync with your own files, or manage online</p>
        <p><a href="/content/howto">learn more...</a></p>
    </div>
    <div class="infobubble">
        <h3>Enhance your online documents</h3>
        <p>Embed references, collection browsers and visualisations from your collection in your online documents</p>
        <p><a href="/content/howto">learn more...</a></p>
    </div>
    <div class="infobubble">
        <h3>Manage people and groups</h3>
        <p>Create a definitive record for a person / group, and connect up all the works they have published</p>
        <p><a href="/content/howto">learn more...</a></p>
    </div>
</div>

<div id="bibsoup_collections">
    <ul>
    <li><a href="/upload">upload new collection</a></li>
    <li><a href="">build new collection</a></li>
    </ul>
    <ul id="collections">
    </ul>
</div>

<div id="bibserver_vis">
visualisations coming soon
</div>

<%include file="/footer.mako"/>

