<%include file="/header.mako"/>

<div id="bibsoup_upload">
    <form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="infobubble">
        <div class="style_head"><p>01. file location</p></div>
        <p>web address: <input type="text" name="source" /></p>
        <p>or upload from PC: <input type="file" name="upfile" /></p>
    </div>
    <div class="infobubble">
        <div class="style_head"><p>02. choose format</p></div>
        <input name="format" type="radio" value="bibtex" /> bibtex <br />
        <input name="format" type="radio" value="bibjson" /> bibjson <br />
        <input name="format" type="radio" value="csv" /> csv <br />
        <input name="format" type="radio" value="google" /> google spreadsheet <br />
    </div>
    <div class="infobubble">
        <div class="style_head"><p>03. name your collection</p></div>
        <p>name: <input type="text" name="collection" /></p>
        <p>(if your records already contain collection information, you can ignore this question. Any value provided here will overwrite that in your records.)</p>
    </div>
    <div class="infobubble">
        <div class="style_head"><p>04. ready to go</p></div>
        <p><input type="submit" name="submit" value="upload" /></p>
        <p>small uploads will be available really quick!</p>
    </div>
    </form>
</div>

<%include file="/footer.mako"/>

