body {
  padding-top: 40px;
}

.content {
  margin-top: 20px;
}

/************************************
  * Flash notifications / messages
  ***********************************/

#bibserver_msg{
    margin:10px 0 10px 0;
    width:100%;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 10px #ccff99;
    -webkit-box-shadow: 2px 2px 10px #ccff99;
    box-shadow: 2px 2px 10px #ccff99;
    background:#ccff99;
}
#bibserver_msg p{
    padding:10px;
    font-size:1.1em;
}

#bibserver_create{
    display:none;
}

/************************************
  * Upload
  ***********************************/

#bibsoup_upload{
    clear:both;
    margin:100px 0 100px 0;
    padding:20px;
    width:600px;
    border:2px solid #4444aa;
   -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 3px 3px 10px #4444aa;
    -webkit-box-shadow: 3px 3px 10px #4444aa;
    box-shadow: 3px 3px 10px #4444aa;
}

#bibsoup_upload h2{
    padding:0 0 10px 0;
}

#bibsoup_upload p{
    padding:20px 0 20px 0;
}

span.upload_label{
    width:150px;
    display:block;
    float:left;
    padding:5px 10px 0 0;
    text-align:right;
}

/************************************
  * Search page (see also solreyes.css)
  ***********************************/

#bibserver_search {
  border-bottom: solid 1px #BFBFBF;
  margin-bottom: 20px;
}

.search_box {
  padding: 20px;
  padding-top: 20px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#bibserver_search input[type=text] {
  width: 520px;
}

